@CHARSET "UTF-8";

html,h2{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    display:auto;
    
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width:400px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}
div#texto{
    width:80%;
    margin-left: 400px;
    padding:0px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: firebrick;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.dropdown{
	margin:0;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px 12px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute; 
    top: 0;
    left: 0px;
 	width: 120px; 
	height: 60px;
 	    
} 
img.menu{
	width: 160px; 
	height: 110px;
}
