@CHARSET "UTF-8";
html,body,ul,h2{
    padding: 0px;
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width:200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}
div#titulo{
    margin-left:210px;
   
}
div#texto{
    width:80%;
    margin-left:210px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.home {
    background-color: orangered;
    color: white;
}
li a.source {
    background-color: darkblue;
    color: white;
}
li a.kraken {
    background-color: darkgoldenrod;
    color: white;
}
li a.terminal {
    background-color: darkgreen;
    color: white;
}
li a.eclipse {
    background-color: darkmagenta;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.dropdown{
	margin:0;

}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: none;
    padding: 10px 12px;
    align-self: center;

}
 
ul img{
	width:200px; 
	height: 100px;
    
}
.sourcemenu{
    display:inline-flex;
    margin-left:30px;
    width: 130px;
    height: 110px;
}
.menu{
    display:inline-flex;
    margin-left: 15px;
    width: 165px;
    height: 100px;
}

